# Logistic Regression Exercises
In this exercise, we'll continue working with the titanic dataset and building logistic regression models. Throughout this exercise, be sure you are training, evaluation, and comparing models on the train and validate datasets. The test dataset should only be used for your final model.

For all of the models you create, choose a threshold that optimizes for accuracy.

Do your work for these exercises in either a notebook or a python script named model within your classification-exercises repository. Add, commit, and push your work.

# Steps
- Create Basic Model

    1. Create model object

    2. Fit the model to the data

    3. Predict labels

    4. Estimate probability of a label estimate

- Evaluate Model

    1. Accuracy

    2. Classification report

    3. Confusion Matrix

In [10]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
# ignore warnings
import warnings
warnings.filterwarnings("ignore")

import acquire

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

In [7]:
titanic = acquire.get_titanic_data()
titanic = acquire.prep_titanic(titanic)

In [8]:
titanic.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,embark_town,alone,Q,S
0,0,0,3,male,22.0,1,0,7.2500,S,Third,Southampton,0,0,1
1,1,1,1,female,38.0,1,0,71.2833,C,First,Cherbourg,0,0,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,Southampton,1,0,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,Southampton,0,0,1
4,4,0,3,male,35.0,0,0,8.0500,S,Third,Southampton,1,0,1

In [12]:
# Handle missing values in the `age` column.
titanic.dropna(inplace=True)

In [21]:
# prep from curriculum
X = titanic[['pclass','fare']]
y = titanic[['survived']]

X_train_validate, X_test, y_train_validate, y_test = train_test_split(X, y, test_size = .20, random_state = 123)

X_train, X_validate, y_train, y_validate = train_test_split(X_train_validate, y_train_validate, test_size = .30, random_state = 123)

print("train: ", X_train.shape, ", validate: ", X_validate.shape, ", test: ", X_test.shape)
print("train: ", y_train.shape, ", validate: ", y_validate.shape, ", test: ", y_test.shape)

train:  (398, 2) , validate:  (171, 2) , test:  (143, 2)
train:  (398, 1) , validate:  (171, 1) , test:  (143, 1)

In [22]:
# More zeros, which means most did not survive
y_train.survived.mean()

0.3743718592964824

### 1. Create another model that includes age in addition to fare and pclass. Does this model perform better than your previous one?

### 2. Include sex in your model as well. Note that you'll need to encode or create a dummy variable of this feature before including it in a model.

### 3. Try out other combinations of features and models.

### 4. Use you best 3 models to predict and evaluate on your validate sample.

### 5. Choose you best model from the validation performation, and evaluate it on the test dataset. How do the performance metrics compare to validate? to train?

- Bonus1 How do different strategies for handling the missing values in the age column affect model performance?

- Bonus2: How do different strategies for encoding sex affect model performance?

- Bonus3: scikit-learn's LogisticRegression classifier is actually applying a regularization penalty to the coefficients by default. This penalty causes the magnitude of the coefficients in the resulting model to be smaller than they otherwise would be. This value can be modified with the C hyper parameter. Small values of C correspond to a larger penalty, and large values of C correspond to a smaller penalty.
    - Try out the following values for C and note how the coefficients and the model's performance on both the dataset it was trained on and on the validate split are affected.
    - C = .01, .1, 1, 10, 100, 1000
- Bonus Bonus: how does scaling the data interact with your choice of C?